.inputlabels {
  align-self: stretch;
  position: relative;
  line-height: 1.13rem;
  font-weight: 600;
}
.uploadinputlabels {
  align-self: stretch;
  position: relative;
  line-height: 1.5rem;
  font-weight: 600;
}

.input-field,
.text {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.input-field {
  border-radius: 0.5rem;
  background-color: #fff;
  border: 1px solid #ccc;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  font-size: 1rem;
}
.inputframe {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.inputframe {
  display: flex;
  gap: 0.2rem;
}

.column33 {
  position: absolute;
  top: 8rem;
  left: 58rem;
  width: 35rem;
  height: 35rem;
}

.column22 {
  position: absolute;
  top: 2.5rem;
  left: 26.56rem;
  width: 16.31rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.column11 {
  position: absolute;
  top: 2.5rem;
  left: 2.56rem;
  width: 16.31rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.columns {
  position: absolute;
  top: 5rem;
  left: 5rem;
  width: 46.38rem;
  height: 48rem;
  overflow: hidden;
}
.pageheading {
  position: absolute;
  top: 3rem;
  left: 7.25rem;
  font-size: 1.5rem;
  display: inline-block;
  font-family: Montserrat;
  color: #000;
  width: 40.31rem;
  height: 1.81rem;
}
.back {
  margin-top: 65px;
  position: relative;
  background-color: #e6e6e6;
  width: 100%;
  height: 58rem;
  overflow: hidden;
  text-align: left;
  font-size: 0.75rem;
  color: #666;
  font-family: "Montserrat";
}

.button--child {
  position: absolute;
  top: -7rem;
  /* left:5rem; */
  border-radius: 16px;
}

.button--container {
  position: absolute;
  top: 39.5rem;
  font-size: 2rem;
}

.error-message {
  font-size: 0.7rem;
  font-weight: 500;
  color: red;
  margin-top: 0.2rem;
}

.particles {
  position: absolute;
}
.particlecontainer {
  position: absolute;
}
.particlebg {
  margin-left: -8rem;
  margin-top: -7rem;
}

h3 {
  color: rgb(0, 0, 0);
}
.toast {
  position: fixed;
  top: 6rem;
  left: 40%;
  background: #ffdbdb;
  padding: 1rem 5rem;
  border-radius: 10px;
  border: 2px solid #fa1e1e;
  z-index: 20;
  overflow: hidden;
}

.toast > span {
  font-size: 1.3rem;
  color: #fa1e1e;
  z-index: 5;
}

.toast::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #ffafaf;
  animation: clock 3s ease-in-out;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #ff8400;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes clock {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}



@media only screen and (max-width:600px) {
  .back{
    margin-top: 55px;
    height: 92rem;
  }
  .column33 {
    display: none;    
    }
    .column22 {
      
      left: 2rem;
      margin-top: 33rem;
     
    }
    .pageheading
    {
      margin-left: -4rem;
      width: 27.31rem;
    height: 3.5rem;
    }
    .column11 {
      
      left: 2rem;
      
    }
  .columns{
    margin-top: 3rem;
  width: 45rem;
  margin-left: 0rem;
  height: 81rem;
  }
}

@media only screen and (min-width:601px) and (max-width:700px) {
  
  
  .pageheading{
    width: 30.31rem;
    height: 3.5rem;
    margin-left: -3rem;
  }
  .column33 {
  display: none;    
  }
  .column22 {
    
    left: 19rem;
   
  }
  
  .column11 {
    
    left: 0rem;
  }
.columns{
  margin-top: 3rem;
width: 45rem;
margin-left: -1rem;
}
}
@media only screen and (min-width:701px) and (max-width:800px) {
  
  .pageheading{
    margin-left: -3rem;
  }
  .column33 {
  display: none;    
  }
  .column22 {
    
    left: 21rem;
   
  }
  
  .column11 {
    
    left: 2rem;
    
  }
.columns{
width: 45rem;
}
}
@media only screen and (min-width:800px) and (max-width:899px) {
  
  .pageheading{
    margin-left: 2rem;
  }
  .column33 {
  display: none;    
  }
  .column22 {
    
    left: 25rem;
   
  }
  
  .column11 {
    
    left: 5rem;
    
  }
.columns{
width: 45rem;
}
}
@media only screen and (min-width:900px) and (max-width:999px) {
  
  .pageheading{
    margin-left: 3rem;
  }
  .column33 {
  display: none;    
  }
  .column22 {
    
    left: 27rem;
   
  }
  
  .column11 {
    
    left: 7rem;
    
  }
.columns{
width: 50rem;
}
}
@media only screen and (min-width:1000px) and (max-width:1200px) {
  
  .pageheading{
    margin-left: 8rem;
  }
  .column33 {
  display: none;    
  }
  .column22 {
    
    left: 32rem;
   
  }
  
  .column11 {
    
    left: 12rem;
    
  }
.columns{
width: 60rem;
}
}


@media only screen and (min-width:1201px) and (max-width:1300px) {
 
  .column22 {
    
    left: 20rem;
   
  }
  
  .column11 {
    
    left: 1rem;
    
  }
  .column33 {
    
    left: 50rem;
    
  }
}

@media only screen and (min-width:1301px) and (max-width:1400px) {
 
  .column22 {
    
    left: 23rem;
   
  }
  
  .column11 {
    
    left: 2rem;
    
  }
  .column33 {
    
    left: 53rem;
    
  }
}